

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

ul {
  padding: 0;
  list-style-type: none;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

button, a {
  cursor: pointer;
}
